<h1>Recipes</h1>

<%= link_to "New Recipe", new_recipe_path %>

<hr>

<% if @recipes.any? %>
  <ul>
    <% @recipes.each do |recipe| %>
      <li>
        <strong><%= link_to recipe.title, recipe_path(recipe) %></strong><br>
        <%= recipe.description %>
      </li>
      <br>
    <% end %>
  </ul>
<% else %>
  <p>No recipes found. Create one!</p>
<% end %>